@use "tailwindcss";
@use "primeicons/primeicons.css";
@use "@fortawesome/fontawesome-free/css/all.min.css";

.p-datatable-flex-bottom {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;

  .p-datatable-wrapper {
    flex: 1 1 auto !important;
  }

  .p-paginator, .p-paginator-bottom {
    margin-top: auto !important;
  }
}

.is-invalid {
  border-color: #e53e3e !important;
  box-shadow: 0 0 0 1px #e53e3e !important;
}

.is-valid {
  border-color: #38a169 !important;
}